* {
  margin: 0;
  padding: 0;
  border: 0px solid red;
  box-sizing: border-box;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #FAF9F9;
}

header {
  background-color: #372C38;
  color: white;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #7C7483;
  border-radius: 5%;
}

#calc-display {
  background-color: #262E29;
  width: 16rem;
  height: 4.5rem;
  box-sizing: border-box;
  text-align: right;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.5rem;
}

#current-input {
  flex: 2;
  display: flex;
  font-size: xx-large;
  justify-content: flex-end;
  align-items: flex-end;
}

#calc-buttons {
  background-color: #262E29;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.calc-button {
  flex: 0 0 4rem;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid black;
  box-sizing: border-box;
  border-radius: 10%;
}

.calc-button:hover {
  filter: brightness(95%);
}

.calc-button:active {
  filter: brightness(80%);
}


footer {
  background-color: #262E29;
  color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

img.ft-imgs {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(0%) saturate(100%) invert(100%);
}

img.ft-imgs:hover {
  filter: invert(50%);
}