* {
  margin: 0;
  padding: 0;
  border: 1px solid red;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #888595;
}

header {
  background-color: #372C38;
  color: white;
}

.main-content {
  height: 90vh;
}

footer {
  background-color: #372C38;
  color: white;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

img.ft-imgs {
  width: 2.5rem;
  height: 2.5rem;
  filter: brightness(0%) saturate(100%) invert(100%);
}

img.ft-imgs:hover {
  filter: invert(50%);
}